#kontener {
    margin: 30px;
    padding: 30px;
    background-color: #1d1f21;
    border-radius: 10px;
}

#kontenerlight {
    margin: 30px;
    padding: 30px;
    background-color: #c2c6ca;
    border-radius: 10px;
}

#konteneroutput {
    margin: 30px;
    padding: 75px;
    background-color: black;
    border-radius: 10px;
}

#taytel {
    margin-bottom: 30px;
}

#tomboldm {
    background-color: #292b2c;
    border: 2px solid #3a444c;
    margin-top: 40px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

#tombollm {
    background-color: #e4e4e4;
    border: 2px solid #ffffff;
    margin-top: 40px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

#pembatas {
    border: 3.5px solid #2d363b;
    opacity: 100%;
    border-radius: 3.5px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#pembatas1 {
    border: 3.5px solid #c2c6ca;
    opacity: 100%;
    border-radius: 3.5px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#outputDiv {
    color: #dde2e6;
}

#containeroutput {
    border: 3px solid #2e8548;
    border-radius: 20px;
    padding: 15px;
}

.btn {
    margin-top: 15px;
    margin-right: 50px;
    border: 2px solid;
    background-color: transparent;
}

.div-tombol {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.image-output {
    width: 50px;
}